* {
    box-sizing: border-box;
}

.main {
    background-color: #E5E5E5;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
    color: #293264;
}

.main h1 {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
}

.main p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.main button {
    background: #4D5B9E;
    border-radius: 15px;
    width: 193px;
    height: 52px;
    left: 179px;
    top: 314px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F5F7FB;
}

.quiz-screen form {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #293264;

    position: absolute;
    width: 307px;
    height: 19px;
    left: 75px;
    top: 40px;
}

.quiz-screen hr {
    position: absolute;
    width: 399px;
    height: 0px;
    left: 75px;
    top: 107px;

    border: 0.794239px solid #DBDEF0;
    transform: rotate(-0.05deg);
}

.answer {
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
}
