* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.quiz-screen form {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #293264;

    position: absolute;
    width: 307px;
    height: 19px;
    left: 75px;
    top: 40px;
}

.quiz-screen hr {
    position: absolute;
    width: 399px;
    height: 0px;
    left: 75px;
    top: 107px;

    border: 0.794239px solid #DBDEF0;
    transform: rotate(-0.05deg);
}

.answer {
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
}
